---
- name: apt tasks 
  become: True
  ansible.builtin.import_tasks: apt.yml
  
- name: Install Golang Tools
  become: True
  ansible.builtin.import_tasks: golang.yml

- name: Install Tools from GitHub
  become: True
  ansible.builtin.import_tasks: git.yml

